/* Impport font */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    font-family: 'Istok Web', sans-serif;
    background-image: url('../media/bg_login.jpg');
    background-repeat: repeat-x;
}

/* Background form */

.content {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    height: 34em;
    box-shadow: 0 0 1em 0 #9e9e9e;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* Header form */

header img {
    margin-top: 60px;
    margin-bottom: 30px;
}

header p,
header h1 {
    text-align: left;
    margin-left: 25px;
}

/* Form */

#username,
#password {
    border: 1px;
    border-radius: 8px;
    background-color: #e9e9e9;
    margin-bottom: 5px;
}

#username:focus,
#password:focus {
    outline: auto #118eea;
}

input {
    width: 320px;
    height: 3em;
}

.btn {
    background-color: #118eea;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
}

.btn:hover {
    background-color: #0478cb;
    color: white;
}

.btn:active {
    background-color: #118eea;
    color: white;
}


/* Tampilan responsive menyesuaikan mobile */
@media screen and (max-width: 800px) {
    .content {
        width: 90%;
        margin-top: 50px;
        height: 32em;
        margin-bottom: 30px;
    }

    header img {
        width: 250px;
    }

    header p,
    header h1 {
        text-align: left;
        margin-left: 10px;
    }

    input {
        width: 250px;
        height: 3em;
    }
}
