.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .active {
    background-color: #118eea;
    color: white;
}

.sidebar .close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 50px;
    margin-left: 50px;
}

.sidebar-toggle {
    font-size: 25px;
    cursor: pointer;
    background: none;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
}

.divider {
    margin-left: auto;
    margin-right: auto;
    color: #f1f1f1;
    width: 90%;
}

.sidebar-toggle:hover {
    color: #dedcdc;
}

.nav-content .navbar-brand {
    margin-left: 30px;
}