/* Impport font */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web');

body {
    font-family: 'Istok Web', sans-serif;
}

.logo {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 480px;
}

.login-content {
    background-color: white;
    text-align: center;
    padding: 10px;
    width: 30%;
    height: 30em;
    box-shadow: 0 0 1em 0 #2d2d2d;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 4em;
    text-align: left;
    margin-left: 2em;
    margin-bottom: 2em;
}

#username,
#password {
    border: 3px solid #d6d6d6;
    border-radius: 5px;
    width: 320px;
    height: 50px;
    margin-bottom: 10px;
}

.btn {
    background-color: #118eea;
    color: white;
    width: 320px;
    height: 3em;
}